    <h1>{{ article.content.Title }}</h1>
    <a href="/{{ article.content.Author.fullSlug }}/">{{ article.content.Author.name }}</a>
    <span> - </span>
    <a href="/{{ article.content.Category.fullSlug }}/">{{ article.content.Category.name }}</a>
    <p>{{ article.content.PublicationDate }}</p>
    <div>{{ article.content.Body | safe }}</div>